{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <!----------------------- Verification Container -------------------------->
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!--------------------------- Left Box ---------------------------->
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
            <div class="featured-image mb-3">
                <img src="images/2.png" class="img-fluid" style="width: 250px;">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Verify Your Code</p>
            <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">We’ve sent a verification code to your email. Please enter it below.</small>
        </div> 
        <!--------------------------- Right Box --------------------------->
        <form class="col-md-6 right-box" method="POST">
            {% csrf_token %}
            {% if error_message %}
                <div class="alert alert-danger">
                    <p style="color: red;">{{ error_message }}</p>
                </div>
            {% endif %}
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Kod Doğrulama</h2>
                    <p>Lütfen e-postanıza gönderilen doğrulama kodunu girin.</p>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Doğrulama Kodu" name="verification_code" maxlength="6">
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-lg btn-primary w-100 fs-6" type="submit">Doğrula</button>
                </div>
                <div class="row">
                    <small>Kodu almadınız mı? <a href="#">Tekrar Gönder</a></small>
                </div>
            </div>
        </form> 
    </div>
</div>
    {% endblock %}
    {% block js_file %}
    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}