{% load static %}
<div
    class="row justify-content-center align-items-center g-2"
>
    <div class="col-6 mt-3 shadow p-3 border rounded-4" >
        <h1 class="title">Projeler</h1>

        <div class="m-3">
            <input class="form-control" type="text" placeholder="Proje başlığı" aria-label="default input example">
        </div>
        <div class="m-3">
            <input class="form-control" type="text" placeholder="Proje Açıklaması" aria-label="default input example">
        </div>
        
        <div class="form-floating m-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Proje Konusu</label>
        </div>
    </div>

</div>