{% load static %}
<div class="list-group" style=" border-radius: 0px; background-color: #ffff; height: 82vh;">
    {% for category in categories %}
        {% if category.slug == selected_category %}
            <a class="list-group-item list-group-item-action active " href="{% url 'graduates_by_category' category.slug %}">{{ category.name }}</a>
        {% else %}
            <a class="list-group-item list-group-item-action " href="{% url 'graduates_by_category' category.slug %}">{{ category.name }}</a>
        {% endif %}
    {% endfor %}
</div>