{% load static %}
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-0  myFooter shadow bg-secondary">
    <p class="col-md-4 mb-0 text-light">© 2024 BST Akademi. Tüm hakları saklıdır.</p>

    <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="{% static 'img/bst-logo.png' %}" alt="Logo" width="13%" height="auto"
            class="d-inline-block align-text-top logo-shadow" >
    </a>

    <ul class="nav col-md-4 justify-content-end">
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li>
                <i class="fa-brands fa-instagram text-light"></i>
            </li>
            <li>
                <i class="fa-brands fa-linkedin text-light"></i>
            </li>
        </ul>
    </ul>
</footer>