{ load static }

<div class="card shadow">
    <img src="https://via.placeholder.com/350x200/4060c0/FFFFFF?text=Haber+1" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Haber Başlığı 1</h5>
        <p class="card-text">Haber 1'in kısa açıklaması. Detaylar için tıklayın.</p>
    </div>
</div>
</div>
<div class="col-md-4">
<div class="card shadow">
    <img src="https://via.placeholder.com/350x200/002040/FFFFFF?text=Haber+2" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Haber Başlığı 2</h5>
        <p class="card-text">Haber 2'nin kısa açıklaması. Detaylar için tıklayın.</p>
    </div>
</div>
</div>
<div class="col-md-4">
<div class="card shadow">
    <img src="https://via.placeholder.com/350x200/e0e0e0/000000?text=Haber+3" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Haber Başlığı 3</h5>
        <p class="card-text">Haber 3'ün kısa açıklaması. Detaylar için tıklayın.</p>
    </div>
</div>
</div>