<a href="?category={{ submission.id }}" class="text-decoration-none text-dark">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ submission.project_request }}</h5>
            <p class="card-text">{{ submission.description }}</p>
            <p class="card-text"><small class="text-muted">Gönderilme: {{ submission.submitted_at }}</small></p>
            {% if submission.is_approved == 1 %}
                <p class="card-text text-success"><strong>Durum: Onaylandı</strong></p>
            {% elif submission.is_approved == 0 %}
                <p class="card-text text-warning"><strong>Durum: Beklemede</strong></p>
            {% else %}
                <p class="card-text text-danger"><strong>Durum: Kabul Edilmedi</strong></p>
            {% endif %}
        </div>
    </div>
</a>