{% load static %}
<div class="list-group" style=" border-radius: 0px; background-color: #ffff; height: 82vh;">
    {% if approved_submissions %}
        {% for submission in approved_submissions %}
            <a href="#" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#projectPanelModal{{ submission.id }}">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ submission.submission_title }}</h5>
                    <small>{{ submission.project_request }}</small>
                </div>
            </a>
        {% endfor %}
    {% endif %}  
</div>