<div class="col-10 my-4">
    <div class="container my-2 p-4 shadow bg-white rounded">
        <!-- Project Request Image -->
        <div class="text-center mb-4">
            <img src="{{ selected_submission.project_request.img.url }}" alt="Project Request Image" class="img-fluid rounded img-cropped">
        </div>
        
        <h1 class="text-center">{{ selected_submission.submission_title }} - {{ selected_submission.project_request }}</h1>
        <p><strong>Başlık:</strong> {{ selected_submission.submission_title }}</p>
        <p><strong>Açıklama:</strong> {{ selected_submission.submission_description }}</p>
        <p><strong>Gönderme zamanı:</strong> {{ selected_submission.submitted_at }}</p>
        {% if selected_submission.is_approved == 1 %}
            <p><strong>Durum:</strong> Onaylandı</p>
        {% elif selected_submission.is_approved == 0 %}
            <p><strong>Durum:</strong> Beklemede</p>
        {% else %}
            <p><strong>Durum:</strong> Kabul Edilmedi</p>
        {% endif %}
    
        <h2>Proje Paneli</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="projectTitle">Başlık</label>
                <input type="text" class="form-control" id="projectTitle" name="projectTitle" value="{{ selected_submission.submission_title }}" readonly>
            </div>
            <div class="form-group">
                <label for="projectDescription">Açıklama</label>
                <textarea class="form-control" id="projectDescription" name="projectDescription" rows="3" readonly>{{ selected_submission.submission_description }}</textarea>
            </div>
            {% for week in 1..8 %}
                <div class="form-group">
                    <label for="week{{ week }}Title">{{ week }}. Hafta Başlık</label>
                    <input type="text" class="form-control" id="week{{ week }}Title" name="week{{ week }}Title">
                </div>
                <div class="form-group">
                    <label for="week{{ week }}"> {{ week }}. Hafta</label>
                    <input type="file" class="form-control-file" id="week{{ week }}" name="week{{ week }}">
                </div>
            {% endfor %}
            <div class="form-group">
                <label for="feedback">Hocadan Geri Dönüş</label>
                <textarea class="form-control" id="feedback" name="feedback" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
</div>

<style>
    .img-cropped {
        width: 100%;
        height: 300px; /* Belirli bir yükseklik */
        object-fit: cover; /* Kenarlardan doldur, üstten ve alttan kırp */
    }
</style>