{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}

{% include 'partials/_carousel.html' %}

<div class="container my-5">
    <div class="row g-4">
        {% for new in news %}
            {% if new.is_home and new.is_active %}
                {% include 'partials/_card.html' %}
            {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}
{% block js_file %}
<script src="{% static 'news/js/script.js' %}"></script>
{% endblock %}