.myNewsTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #4060c0;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    height: 100%;
    /* Kart yüksekliğini sabitle */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Kart içeriğini dengede tut */
}

.card img {
    max-height: 180px;
    /* Görsel yüksekliğini sabitle */
    width: 100%;
    /* Görselin genişliğini karta uydur */
    object-fit: cover;
    /* Taşan alanları kırp */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    flex: 1;
    /* İçerik alanını esnek yap */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Başlık ve açıklama arasındaki boşluğu dengede tut */
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}

.btn-outline-primary {
    align-self: flex-end;
    /* Butonu kartın altına hizala */
    margin-top: auto;
    /* Alt alanla uyumlu yap */
    transition: all 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: #4060c0;
    color: white;
    border-color: #4060c0;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}