{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock %}

{% block title %} Register {% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <!----------------------- Register Container -------------------------->
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!--------------------------- Left Box ---------------------------->
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe;">
            <div class="featured-image mb-3">
                <img src="images/1.png" class="img-fluid" style="width: 250px;">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Join Us</p>
            <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Become part of our amazing community!</small>
        </div> 
        <!--------------------------- Right Box --------------------------->
        <form class="col-md-6 right-box" method="POST">
            {% csrf_token %}
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Kayıt Olun</h2>
                    <p>Aramıza katıldığınız için mutluyuz.</p>
                </div>

                <div class="input-group mb-3">
                    <input type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email" name="email">
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Şifre" name="password">
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Şifre (Tekrar)" name="repassword">
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-lg btn-primary w-100 fs-6" type="submit">Kayıt Ol</button>
                </div>
                <div class="row">
                    <small>Zaten hesabınız var mı? <a href="{% url 'login' %}">Giriş Yapın</a></small>
                </div>
            </div>
        </form> 
    </div>
</div>


{% endblock %}
{% block js_file %}
<script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}