{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}

{% if submission_message %}
<p style="color: green;">{{ submission_message }}</p>
{% endif %}

<div class="row mt-0 me-3">
    <!-- Kategoriler (Sol Taraf) -->
    <div class="col-2">
        <!-- Katagori kodalri -->
        {% include 'partials/_categories.html' %}
    </div>
    <div class="col-10 my-4 ">
        <!-- Onaylanan Projeler -->
        {% if approved_submissions %}
            <div class="row">
                <h1>Onaylanan Projeler</h1>
                {% for submission in approved_submissions %}
                    <div class="col-md-2 mb-2">
                        {% include 'partials/_pending_approval_projects.html' %}
                    </div>  
                {% endfor %}
            </div>
        {% endif %}

        <!-- Projeler (Sağ Taraf) -->
        <div class="row">
            <h1>Projeler</h1>
            {% if projects|length > 0 %}
                {% for project in projects %}
                <div class="col-md-3 mb-3 ">
                    {% include 'partials/_projects.html' %}
                </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">Aktif Proje Yok</div>
            {% endif %}
        </div>
    <!-- Gonderilmis projeler (Sağ Taraf) -->
        <div class="row">
            {% if submissions %}
                <h1>İşlemler</h1>
                {% for submission in submissions %}
                    <div class="col-md-2 mb-2">
                        {% include 'partials/_pending_approval_projects.html' %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% if success %}
<script>
    // Close the modal
    document.getElementById('myModal').style.display = 'none';
</script>
{% endif %}

{% endblock %}
{% block js_file %}
<script src="{% static 'news/js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}