{% extends "base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}

{% block title %} Home {% endblock %}

{% block content %}

{% if submission_message %}
<p style="color: green;">{{ submission_message }}</p>
{% endif %}

<div class="row mt-0 me-3">
    <!-- Kategoriler (Sol Taraf) -->
    <div class="col-2">
        <!-- Katagori kodalri -->
        {% include 'partials/_proje_categories.html' %}
    </div>
    <div class="col-10 my-4" style="min-height: 100vh;">
        <!-- (Sağ Taraf) -->
        {% if selected_project %}
            {% include 'partials/_project_detail.html' %}
        {% elif selected_submission %}
            {% include 'partials/_submission_detail.html' %}
        {% else %}
            {% include 'partials/_student_project_home.html' %}
        {% endif %}
        
    </div>

</div>

{% endblock %}
{% block js_file %}
<script src="{% static 'news/js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}